@media (min-width: 1273px) {
  body {
    background-color: lightblue;
  }
}

@media (min-width: 657px) and (max-width: 1272px) {
  body {
    background-color: lightgreen;
  }
}

@media (max-width: 656px) {
  body {
    background-color: lightcoral;
  }
}